<nav class="navbar navbar-expand-lg navbar-light p-4 px-5">
    <div class="container-fluid p-0">

        <a class="navbar-brand" href="/">
            <img src="/CompanyLogo-black.png" alt="Company Logo" />
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-end gap-3">
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">Use Cases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-dark grotext fs-4">
                        Request a quote
                    </button>
                </li>
            </ul>
        </div>

    </div>
</nav>
