<div class="d-flex justify-content-between bg-white mx-5" style="max-width: 1440px;">
    <div class="d-flex flex-column m-0" style="width: 600px; gap: 35px;">
        <h1 class="grotext hero-heading m-0">Navigating the digital landscape for success</h1>

        <p class="lead m-0" style="font-size: 28px;">
            Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.
        </p>

        <button type="button" class="btn btn-dark btn-lg align-self-start grotext" style="font-size: 28px;">
            Book a consultation
        </button>
    </div>

    <img class="m-0" src="/Hero.png" alt="Alternate Text" style="width: 600px;" />
</div>