<div class="d-flex justify-content-between align-items-center mx-5 my-5" style="max-width: 1440px;">
    <img src="/amazon.png" alt="Alternate Text" />
    <img src="/dribble.png" alt="Alternate Text" />
    <img src="/hubspot.png" alt="Alternate Text" />

    <img src="/notion.png" alt="Alternate Text" />
    <img src="/netflix.png" alt="Alternate Text" />
    <img src="/zoom.png" alt="Alternate Text" />
</div>