@page "/"
@using PositivusLandingPage.Components.Home
<PageTitle>Home</PageTitle>

<Hero></Hero>
<Sponsors></Sponsors>

@* <div class="d-flex align-items-center m-5 gap-4" style="max-width: 1440px;">
    <h2 class="h2 bg-primary m-0 p-2 rounded section-heading" >Services</h2>
    <p class="m-0"> At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These servces include:</p>
</div> *@

<SectionHeader Title="Services">
    At our digital marketing agency, we offer a range of services
    to help businesses grow and succeed online.
</SectionHeader>